//min-wdith 640px
@media screen and(min-width:640px){
     //home page
     #intro{
        .container{
            max-width: 700px;
            padding: 7em 0;
        }
    }

    #intro-heading{
        font-size: 3.5em;
    }

    #intro-sub-heading{
        font-size: 2.2em;
    }

    #intro-text{
        font-size: 1.3em;
        line-height: 1.9em;
        max-width: 650px;
    }

    .btn-link{
        a{
            font-size: 1.2em;
        }
    }
}

//min-width 980px
@media screen and(min-width:980px){

    //align nav to right
    #main-header{
        .container{
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    #nav-list{
        li{
            margin-left: 1.5em;
        }
    }

    #intro-heading{
        font-size: 3.5em;
    }

    #intro-sub-heading{
        font-size: 2em;
    }

    .main-text{
        font-size: 1.5em;
        max-width: 700px;
    }

    //footer
    footer{
        .container{
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
        }
    }

    #social-links{
        margin: 0;
        order: 2;

        li{
            margin: 0;
        }
    }

    #copyright{
        margin: 0;
        order: 1;
    }

    //projects section
    .project:first-of-type{
        margin-bottom: 9em;
    }

    .img-container{
        max-width: none;
        margin-bottom: 2em;

        img{
            max-width: 200px;
        }
    }

    .project-title{
        font-size: 2em;
        margin-bottom: 1em;
    }

    .tech-used{
        font-size: 1em;
    }
}