//min-wdith 640px
@media screen and(min-width:640px){
    //Higher resolution intro image
    #intro{
        background-image: linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
        ), url("../img/intro-md.png");
    }

    //Decrease container width
    .container{
        width: 85%;
    }
}

//min-width 980px
@media screen and(min-width:980px){
    //Higher resoloution intro image
    #intro{
        background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url("../img/intro-lg.png");
        background-position: 50% 30%;
    }

    //change home page layout
    #home{
        .container{
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          padding: 5em 0;
          justify-items: space-between;
        }
    }

    .section-title{
       grid-column: 1/2;
       font-size: 2em;
       text-align: left;
       margin-bottom: 0;
       align-self: start;
    }

    .section-text{
        grid-column: 2/5;
        max-width: 600px;
        line-height: 2em;
        justify-self: end;

        p{
            margin-bottom: 2.5em;
        }
    }

    .btn-wrapper{
        grid-column: 2/4;
        margin-top: 2em;
    }

    //remove social icons in footer & add links
    .social-icon-links{
        display: none;
    }

    .social-text-links{
        display: flex;
        order: 3;

        li{
            margin-left: 1em;

            &:first-of-type{
                margin-left: 0;
            }
        }
    }

    footer .container{
        padding: 1.4em 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .copyright{
        margin-bottom: 0;
        order: 1;
    }

    .location{
        order: 2;
        font-size: 0.9em;
    }


}