//min-wdith 640px
@media screen and(min-width:640px){
     //home page
     #intro{
        .container{
            max-width: 700px;
            padding: 7em 0;
        }
    }

    #intro-heading{
        font-size: 3.5em;
    }

    #intro-sub-heading{
        font-size: 2.2em;
    }

    #intro-text{
        font-size: 1.3em;
        line-height: 1.9em;
        max-width: 650px;
    }

    .btn-link{
        a{
            font-size: 1.2em;
        }
    }
}

//min-width 980px
@media screen and(min-width:980px){

    //align nav to right
    #main-header{
        .container{
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    #nav-list{
        li{
            margin-left: 1.5em;
        }
    }

    //align main content to left
    .main-content{
        .container{
            align-items: flex-start;
        }
    }

    #intro-heading{
        font-size: 3.5em;
    }

    #intro-sub-heading{
        font-size: 2em;
    }

    .main-text{
        font-size: 1.5em;
        max-width: 700px;
        text-align: left;
    }

    //footer
    footer{
        .container{
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
        }
    }

    #social-links{
        margin: 0;
w
        li{
            margin: 0;
        }
    }

    #copyright{
        margin: 0;
    }
}