@use 'normalize';
@use 'reset';
@import 'variables';
//Google Fonts Link
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Roboto:wght@100;300;400;500;700&display=swap');

//Container 
.container{
    width: 95%;
    margin: 0 auto;
}

html,body{
    font-size: 1rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

//Intro Section
#intro{
    background-image: url("../img/intro.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center center;
    color: #fff;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        padding-bottom: 1em;
    }

    p{
        padding-bottom: 1em;
    }
}

#intro-title{
    text-transform: capitalize;
}


//Nav
nav{
    text-transform: capitalize;
    border-top: 1px solid rgb(209, 209, 209);
}

#nav-list{
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    max-width: 450px;

    li{
        font-size: 1.1em;
    }

}

//Home Section
#home{
    .container{
        padding: 3em 0;
    }
}

.section-title{
    margin-bottom: 2em;
    text-align: center;
}

.section-title-main{
   font-size: 2.5em;
   text-transform: capitalize;
}

.section-title-text{
    border-left: 1px solid #000;
    display: inline-block;
    padding: 1em 0 0 1em;
    margin-left: 80px;
}

.section-text{
    font-size: 1em;
}

.btn-wrapper{
    
}

#project-link{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    
}













@import 'media-queries';