//Partials

@use 'normalize';
@use 'reset';

@import 'variables';

//Google Fonts Link
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Roboto:wght@100;300;400;500;700&display=swap');

//all pages styling *********************************

//container 
.container{
    margin: 0 auto;
    max-width: 1080px;
    width: 92%;
}

html,body{
    background-color: #2A2E39;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    justify-content: space-between;
    min-height: 100vh;
}

//header Section
#main-header{
    padding: 2em 0;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    p{
        padding-bottom: 1em;
    }
}

#header-title{
    font-size: 1.3em;
    text-transform: capitalize;
}

#header-sub-title{
    font-size: 0.9em;
}

//nav
nav{
    color: #576978;
    text-transform: capitalize;
}

#nav-list{
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    padding-top: 1em;

    li{
        font-size: 1.1em;
        transition: opacity 0.3s ease-in-out;

        &:active{
            opacity: 0.3;
        }

        &:hover{
            opacity: 0.3;
        }
    }

}

#home .home, #projects .projects, #about .about, #contact .contact{
    color: $accentColor;
}

//button link
.btn-link{
    margin-top: 5em;

    a{
        font-size: 1.3em;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: color 0.5s ease;

        &:hover{
            color: $accentColor;
        }
    }
}

//main content
.main-content{
    
    .container{
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 5em 0;
        text-align: center;
    }
}

.section-title{
    font-size: 3em;
    margin-bottom: 1em;
    text-transform: capitalize;
}

.main-text{
    font-size: 1.1em;
    line-height: 1.7em;
    max-width: 500px;

    a{
        color: $accentColor;;
    }
}

//footer
footer{
    color: #576978;
    padding: 1em 0;
    text-align: center;

    .container{
        padding-top: 1em;
    }
}

#social-links{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 120px;

    li{
        font-size: 1.5em;
        transition: color 0.5s ease-in-out;

        &:hover{
            color: $accentColor;
        }

        &:last-of-type{
            margin-bottom: 0;
        }
    }
}

#copyright{
    font-size: 0.8em;
    margin-top: 2.3em;
}

#location{
    color: $accentColor;
    font-size: 0.8em;
    margin-top: 0.7em;
}

//*********** end of all pages styling *************************

//home page

#intro-heading{
    font-size: 2.5em;
    font-weight: normal;
    margin-bottom: 0.5em;
    text-transform: capitalize;
}

#intro-sub-heading{
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 2em;

    span{
        color: $accentColor;
    }
}

//about/contact page
#about, #contact{
    .main-text:first-of-type{
        margin-bottom: 2em;
    }
}


//projects section


@import 'media-queries';